@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

header{
    padding: 20px 8%;
}

section{
    padding: 70px 8%;
}

header{
    display: flex;
    /*Pour bien separer les element*/
    justify-content: space-between;
    align-items: center;
    /*Pour que ca prenne 100% de la page*/
    width: 100%;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.logo-div{
    width: 30%;

}

.logo span{
    color: #F6D238;
}

ul{
    display: flex;
    justify-content: center;

    width: 40%;
    list-style: none;
}

ul li{
    padding: 10px 25px;

}

ul li a{
    text-decoration: none;
    color: #999;
    transition: 0.5s;
    font-size: 14px;
}

ul li a:hover {
    background-color: #F6D238;
    padding: 15px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
}

.btn-header{
    width: 30%;
    display: flex;
    justify-content: end;
}

.btn{
    color: #000;
    background-color:#F6D238;
    border-radius: 20px;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1); 
}
.btn:hover{
    background-color: #f1f1f1;
    transform: rotate(5deg);
}
.btn i{
    margin-right: 5px;
}

.home-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-section .left{
    position: relative;
    height: 500px;
    width: 600px;

}
.home-section .left img{
    position: absolute;
    /*Pour ameliorer l'image*/
    object-fit: cover;
    border: 8px solid #fff;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    border-radius: 2rem;
}

.home-section .left-image-1{
    width: 450px;
    height: 500px;
    transition: 0.5s;
}
.home-section .left-image-1:hover{
    /*scale pour agrandir un peut l'image*/
    transform: scale(1.1) rotate(10deg);
}

.home-section .left-image-2{
    width: 350px;
    height: 350px;
    top: 150px;
    left: 250px;
    transition: 0.5s;
}
.home-section .left-image-2:hover{
    /*scale pour agrandir un peut l'image*/
    transform: scale(1.1) rotate(-10deg);
}

.right{
    margin-left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .right .text-right{
    color: #F6D238; 
    font-weight: bold;
}
.right h1{
        margin: 20px 0;
        font-size: 35px;
        font-weight: bold;
        line-height: 50px;
}
.right p{
    margin-bottom: 25px;
    color: #999;
    width: 70%;
    font-size: 14px;
    font-size: 14px;
}
.see-video{
    border: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
} */